pyspark~=3.5.1
minio~=7.2.15
pandas~=2.1.4
redis~=6.2.0
requests~=2.32.3
apache-airflow~=3.0.1
panel~=1.7.1
hvplot~=0.11.3
pyiceberg~=0.9.1
regex~=2024.11.6
pyarrow~=20.0.0

# Jupyter notebook
IPython~= 9.2.0
ipykernel~= 6.29.5
jupyter_client~= 8.6.3
jupyter_core~= 5.8.1
jupyter_server~= 2.16.0
jupyterlab~= 4.4.3
nbclient~= 0.10.2
nbconvert~= 7.16.6
nbformat~= 5.10.4
notebook~= 7.4.3
traitlets~= 5.14.3
